{% extends "mainTemplate.html" %}

{% block style %}<link href="/static/history2.css" rel="stylesheet">{% endblock %}

{% block title %}ProvPCT: History{% endblock %}

{% block main %}

<div class="synopsis">

    <div class="card text-center">
        <div class="card-header">
          Portfolio
        </div>
        <div class="card-body">
          <h5 class="card-title">History</h5>
          <p class="card-text">Embark on your crypto journey today and explore new financial possibilities!</p>
          <a href="/marketplace" class="btn btn-primary">Marketplace</a>
        </div>
        <div class="card-footer text-body-secondary">
          <img src="/static/branding/logo.png" alt="ProvidencePCT Logo">
        </div>
    </div>

</div>

{% endblock %}

{% block GJs %}

{% endblock %}
